* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    overflow: scroll;
    width: 100%;
    overflow-x: hidden;
}

/* HEADER */

.header {
    background-color: #FFF;
    box-shadow: 0px 0px 7px #ccc;
    font-family: 'Abril Fatface', cursive;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 2%;
}

.nav ul>li {
    list-style-type: none;
    display: inline-block;
}

.nav ul li a {
    color: #000;
    margin: 0 5px;
    text-decoration: none;
}

.logo {
    margin-top: 5%;
}

#login {
    background: #B3CFB2;
    border: none;
    border-radius: 20px;
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    line-height: 24px;
    padding: 3px 8px;
}

/* END OF HEADER */

/* PAGE 1 */

#home {
    align-items: center;
    color: #0F0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 35%;
    width: 90%;
}

/* DO YOU WANT TO CREATE */

.question {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 43px;
    letter-spacing: 0.02em;
    margin-top: 15%;
}

.top {
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.top span {
    background-image: url(./img/yellow-line.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
    line-height: 3rem;
    background-size: 95%;
}

.together {
    font-size: 1.3rem;
    line-height: 2.688rem;
}

/* STARS AND CIRCLES */

.qmc {
    position: absolute;
    left: 5%;
    width: 25%;
    top: 25%;
    z-index: -1;
}

.q-sc {
    position: absolute;
    display: none;
    z-index: -1;
}

.qs {
    position: absolute;
    right: 5%;
    transform: rotate(25deg);
    z-index: -1;
}

.qs2 {
    position: absolute;
    left: 5%;
    transform: rotate(45deg);
    z-index: -1;
}

.qe {
    position: absolute;
    display: none;
    z-index: -1;
}

.qe2 {
    position: absolute;
    display: none;
    z-index: -1;
}

.qe3 {
    position: absolute;
    display: none;
    z-index: -1;
}

.qe4 {
    position: absolute;
    display: none;
    z-index: -1;
}

.qbs {
    position: absolute;
    margin-top: -30px;
    transform: rotate(40deg);
    z-index: -1;
}

.qps {
    position: absolute;
    display: none;
    z-index: -1;
}

.qmsc {
    position: absolute;
    margin-top: 32px;
    width: 29%;
    z-index: -1;
}

.qc {
    position: absolute;
    margin-top: 70px;
    right: 2%;
    z-index: -1;
}

/* DID YOU KNOW? */

.knowledge {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.know {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 20%;
}

.know span {
    background-image: url(./img/messy-yellow-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* IMAGES AND QUESTIONS */

.stats {
    font-size: 18px;
    line-height: 21.6px;
    text-align: center;
}

.stat {
    margin-top: 15%;
}

.stat figcaption {
    font-size: 1rem;
}

/* CHANGE AND LIF BUTTON */

.here-to-change {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 2%;
    margin-top: 10%;
}

.here-to-change span {
    color: #8B61B7;
    font-size: 1.5rem;
    line-height: 4rem;
}


.lifbutton {
    background-color: #FFB33D;
    border-radius: 20px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 1.5em 0;
    text-decoration: none;
    padding: 12px 0;
    text-align: center;
    width: 150px;
}

/* MEET LIF */

#lif {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    margin-top: 5%;
    text-align: center;
    width: 95%;
}

/* LEFT PART */

.lif-desc {
    font-size: 1em;
    line-height: 4em;
}

.lif-desc h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
}

.lif-desc span {
    color: #A583AE;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5em;
    line-height: 48px;
}

.students span {
    background-image: url(./img/small-yellow-line.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    background-position-x: center;
}

.character img {
    width: 95%;
}

.mouse-arrows {
    animation-duration: 2s;
    animation-name: mouse-down;
    animation-iteration-count: infinite;
    z-index: -2;
}

/* STEPS */

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
    margin-top: 10%;
    width: 90%;
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.improve-span {
    background-image: url(./img/improve-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-family: 'Lato', sans-serif !important;
    font-weight: 700 !important;
    color: #000 !important;
}

.steps span {
    color: #8B61B7;
    font-family: 'Abril Fatface', cursive;
    line-height: 48px;
    font-weight: 400;
}

.steps img {
    margin-top: 10%;
    width: 95%;
}

/* INDIVIUAL STEPS */

.step-one,
.step-two,
.step-three {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 5%;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 75%;
}

.list-one,
.list-two,
.list-three {
    font-size: 2rem;
    font-weight: 700;
    width: 15%;
    line-height: 57px;
    margin-right: 10%;
}

/* END OF LIF */

/* HOW DOES IT WORK */

.methods h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 3%;
}

.methods span {
    color: #62A573;
}

.sad-image {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}

.tip-image {
    width: 80%;
    margin-top: -10%;
    margin-left: 15%;
}

.lif-methods {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    height: 200px;
    margin: 10% 5%;
}

.lif-methods .divide {
    width: 100%;
}

.lif-methods-title {
    font-size: 1.4rem;
    height: 50px;
    padding-top: 5%;
}

.lif-methods-title span {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.6rem;
    padding-right: 1%;
}

.lif-methods p {
    margin: 0 5%;
}

/* METHODS CIRCLE AND STARS */

.methods .green-circle {
    display: none;
}

.methods .green-circle-2 {
    display: none;
}

.methods .yellow-circle {
    display: none;
}

.methods .green-plus {
    display: none;
}

.methods .blue-circle {
    display: none;
}


/* END OF HOW DOES LIFEDU WORK */

.goals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10%;
    width: 90%;
}

.goals span {
    font-family: 'Abril Fatface', cursive;
    color: #A682AE;
    font-weight: normal;
}

.goals img {
    width: 70%;
    margin: 10% 0;
}

.safegoal {
    font-weight: normal;
    margin: 10% 0;
}

.missiongoal {
    font-weight: normal;
}

#contact {
    background: linear-gradient(180deg, #987FB2 -20.4%, rgba(176, 147, 207, 0.27) 61.66%);
    border-radius: 20px;
    font-weight: normal;
    padding: 10% 0;
}

#contact span {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.freelife {
    font-family: 'Abril Fatface', cursive;
    margin-top: 10%;
    margin-bottom: 10%;
}

.contactus {
    background-color: #FFB33D;
    border-radius: 20px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: 'Abril Fatface', cursive;
    font-size: 1em;
    line-height: 1.5em;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    width: 150px;
}

/* END OF GOALS */

.change {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 15%;
    width: 95%;
}

.change-question {
    background-image: url(./img/messy-yellow-circle.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: center;
    background-position-y: bottom;
    font-size: 2rem;
}

.messy-change {
    margin-top: -13%;
    width: 34%;
    z-index: -2;
}

.journey {
    margin-top: 10%;
    font-weight: 500;
    font-weight: normal;
}

.journey-2 {
    font-weight: normal;
}

.journey span,
.journey-2 span {
    color: #000;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
    font-weight: 500;
}

.transform {
    background-color: #FFB33D;
    border-radius: 20px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: 'Abril Fatface', cursive;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 10% 0;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
}

#options-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.options {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 2rem;
    margin: 20% 0;
    padding: 0 5%;
}

.divide {
    border: 2px solid #B1D2B9;
    width: 80%;
    margin-bottom: 10%;
}

.options span {
    color: #000;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
    font-weight: normal;
}

.freespan {
    color: #8EB28E !important;
    font-family: 'Esteban', serif !important;
}

.blue-contact {
    background: #69ACC7;
    border-radius: 20px;
    color: #FFF;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.2rem;
    font-weight: normal;
    width: 150px;
    margin: 10% 0;
    text-align: center;
    padding: 5% 5%;
    text-decoration: none;
}

#footer {
    background-image: url('./img/Footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}

.footer-info {
    width: 95%;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    margin: 10% 0;
}

.footer-info a {
    margin: 2% 0;
}

.media {
    background-color: #92B48D;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    flex-direction: column;
    width: 95%;
}

.links {
    flex-direction: row;
    margin: 2% 10%;
}

.links i {
    font-size: 2rem;
}

/* TABLET SIZES */

@media only screen and (min-width: 768px) {

    #home {
        height: 95vh;
        margin-top: 5%;
    }

    #home figcaption {
        font-size: 1.2rem;
    }

    #login {
        padding: 0.4rem 1rem;
    }

    .header {
        font-size: 1.5rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        margin-top: 0%;
        margin-left: 5%;
    }

    .nav {
        margin: 3% 0;
    }

    /* END OF HEADER TABLET */

    .top {
        font-size: 3.3rem;
        font-weight: normal;
        line-height: 5.25rem;
    }

    .top span {
        font-size: 3.3rem;
        line-height: 5.9rem;
    }

    .together {
        font-size: 2.688rem;
    }

    .qmc {
        top: 52%;
        width: 12%;
    }

    .q-sc {
        position: absolute;
        display: flex;
        left: 12%;
        top: 82%;
    }

    .qs {
        top: 30%;
        right: 15%;
        transform: rotate(0);
    }

    .qs2 {
        top: 30%;
        left: 15%;
        transform: rotate(0);
    }

    .qe {
        display: flex;
        left: 20%;
        top: 55%;
    }

    .qe2 {
        display: flex;
        top: 75%;
        left: 28%;
    }

    .qe3 {
        display: flex;
        top: 35%;
        right: 50%;
    }

    .qe4 {
        display: flex;
        top: 20%;
        right: 5%;
    }

    .qbs {
        top: 60%;
        right: 15%;
        transform: rotate(0);
    }

    .qps {
        display: flex;
        right: 40%;
        top: 85%;
    }

    .qmsc {
        position: absolute;
        top: 65%;
        right: 20%;
        width: 10%;
        z-index: -1;
    }

    .qc {
        top: 72%;
        right: 5%;
        z-index: -1;
    }

    .know {
        margin-top: 2%;
    }

    .stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .stat {
        margin: 0 5% 0 5%;
        width: 30%;
    }

    .stat figure {
        height: 25%;
    }

    .stat figcaption {
        font-size: 1rem;
    }

    .stat img {
        width: 60%;
    }

    .here-to-change {
        margin-top: 0%;
    }

    .lifbutton {
        margin: 1rem 0;
    }

    /* END OF CHANGE */

    #lif {
        align-items: flex-start;
        flex-direction: row;
    }

    .lif-desc {
        font-size: 1.3rem;
        width: 80%;
        text-align: left;
    }

    .lif-desc h1 {
        font-weight: 700;
        font-size: 5rem;
        line-height: 5rem;
    }

    .lif-desc span {
        font-size: 1.5em;
    }

    /* END OF CHARACTER SECTION */
    .steps {
        font-size: 2.3rem;
        margin-top: 0%;
        height: 40rem;
    }

    .steps h2 {
        font-size: 1.9rem;
        width: 80%;
    }

    .steps figure {
        width: 80%
    }

    .steps img {
        margin-top: 0%;
    }

    .step {
        display: flex;
        justify-content: flex-end;
        height: 35rem;
    }

    .step-one,
    .step-two,
    .step-three {
        font-size: 1.3rem;
    }

    .step-one {
        position: absolute;
        left: 5%;
        text-align: left;
        width: 40%;
    }

    .list-one {
        width: 15%;
    }

    .step-two {
        position: absolute;
        left: 10%;
        margin-bottom: 15%;
        width: 70%;
    }

    .list-two {
        margin: -18px -2% 0 10%;
        width: 15%;
    }

    .step-three {
        position: absolute;
        right: 3%;
        text-align: right;
        margin-bottom: 5%;
        width: 55%;
    }

    .list-three {
        margin: 3px 2% 0 30%;
        width: 15%;
    }

    /* END OF STEPS */

    .methods {
        height: 86vh;
    }

    .methods h3 {
        font-size: 2.5rem;
        padding-top: 2%;
    }

    .methods-page {
        display: flex;
        align-items: flex-end;
        padding-top: 2%;
    }

    .sad-image {
        width: 100%;
    }

    .tip-image {
        width: 95%;
        margin-left: 30%;
    }

    .lif-methods-div {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin: 0 5%;
        width: 90%;
    }

    .lif-methods {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        height: auto;
        width: 75%;
        margin: 5% 2%;
    }

    .lif-methods-title {
        height: auto;
        font-size: 2rem;
        margin-bottom: 0% !important;
        width: 100%;
    }

    .divide {
        margin: 3% 0;
    }

    .lif-methods-title span {
        font-family: 'Abril Fatface', cursive;
        font-size: 2.4rem;
        padding-right: 1%;
    }

    .lif-methods p {
        margin-bottom: 10%;
    }

    /* END OF METHODS */

    .goals {
        margin-top: 5%;
    }

    .goals h4 {
        font-size: 2rem;
        width: 70%;
    }

    .goals img {
        width: 100%;
        margin: 0;
    }

    .safegoal {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5% 0 0 0;
    }

    .missiongoal {
        display: flex;
        flex-direction: row;
        margin: 5% 0;
        align-items: center;
    }

    .freelife {
        font-size: 2rem;
        margin: 3% 0 5% 0;
    }

    #contact {
        padding: 5% 3%;
    }


    /* END OF GOALS */

    .change {
        margin: 5% 0;
    }

    .change-question {
        display: flex;
        align-items: center;
        background-position-x: 93%;
        background-position-y: center;
        background-size: 28%;
        margin-top: 0%;
        height: 100px;
        font-size: 3.2rem;
    }


    .messy-change {
        margin-top: -10%;
        margin-left: 50%;
        width: 25%;
    }

    .journey {
        margin-top: 5%;
        font-size: 1.2rem;
    }

    .journey span,
    .journey-2 span {
        font-size: 1.5rem;
        margin: 5% 0;
    }

    .transform {
        margin: 6% 0;
        font-size: 1.5rem;
        padding: 1.2rem 1.2rem;
    }

    .options {
        width: 40%;
        margin: 5% 5%;
    }

    #options-div {
        flex-direction: row;
    }

    .footer-info {
        margin: 10% 0 5% 0;
    }
}

@media only screen and (min-width: 1024px) {

    body {
        width: 100%;
    }

    .header {
        font-size: 1.1rem;
    }

    .question {
        font-size: 2rem;
        margin-top: 5%;
    }

    .top {
        font-size: 3.5rem;
        line-height: 5.5rem;
    }

    .top span {
        font-size: 3.8rem;
    }

    .together {
        line-height: 5.5rem;
    }

    .nav {
        margin: 2% 5%;
        width: 70%;
    }

    #login {
        padding: 10% 40%;
    }

    /* END OF HEADER */

    #home {
        margin-top: 8.5%;
        margin-left: 0%;
    }

    .qmc {
        top: 55%;
        width: 10%;
    }

    .q-sc {
        top: 75%;
        left: 85%;
    }

    .qs {
        right: 71%;
        top: 18%
    }

    .qs2 {
        top: 35%;
        left: 17%;
    }

    .qe {
        top: 59%;
    }

    .qe2 {
        top: 70%;
        left: 32%;
    }

    .qe3 {
        top: 40%;
        right: 36%;
    }

    .qe4 {
        top: 22%;
        right: 10%;
    }

    .qbs {
        top: 58%;
        right: 12%;
    }

    .qps {
        top: 90%;
        right: 38%;
    }

    .qmsc {
        top: 57%;
        width: 7%;
    }

    .qc {
        top: 75%;
        right: 90%;
        width: 5%;
    }

    .know {
        margin-top: 0%;
        margin-right: 80%;
    }

    .stats {
        flex-wrap: nowrap;
        margin: 3% 0;
        width: 100%;
    }

    .stat {
        text-align: left;
        font-size: 1.025rem;
        margin: 0 2%;
        width: 26%;
    }

    .stat img {
        height: 175px;
        width: 100%;
    }

    #home figcaption {
        font-size: 0.8rem;
    }

    .stat figcaption {
        height: 50px;
        font-size: 1.2rem;
    }

    .here-to-change {
        font-size: 2.1rem;
        margin-top: 2%;
    }

    .here-to-change span {
        font-size: 2.2rem;
    }

    .lifbutton {
        font-size: 1.3rem;
        margin: 0.8rem 0 2rem 0;
    }

    /* END OF HOME */

    .knowledge {
        height: 100vh;
    }

    .know {
        margin-right: 75%;
    }

    #lif {
        height: 100vh;
    }

    .lif-desc {
        font-size: 1.7rem;
        line-height: 5rem;
        margin-left: 5%;
        margin-bottom: 20%;
    }

    .lif-desc h1 {
        font-size: 7rem;
    }

    .lif-desc span {
        font-size: 1.8rem;
    }

    .character {
        width: 85%;
    }

    .character img {
        width: 100%;
    }

    /* END OF LIF */
    .steps h2 {
        font-size: 1.8rem;
        width: 60%;
    }

    .steps {
        font-size: 1.8rem;
    }

    .steps figure {
        width: 78%;
    }

    .improved-circle {
        margin-top: -12.5% !important;
        left: 42.5%;
        width: 12% !important;
    }

    .step-one,
    .step-two,
    .step-three {
        font-size: 1.2rem;
    }

    .list-one {
        margin-top: -8%;
    }

    .step-one {
        left: 2%;
        margin-bottom: -8%;
        text-align: left;
        width: 25%;
    }

    .list-two {
        margin: -20px -2% 0 8%;
    }

    .step-two {
        left: 25%;
        margin-bottom: 5%;
        width: 45%;
    }

    .list-three {
        margin: 3px 2% 0 35%;
    }

    .step-three {
        margin-bottom: -1%;
        text-align: right;
        width: 45%;
    }

    .step {
        height: 30rem;
    }

    /* END OF STEPS */

    .methods {
        margin-top: 2%;
    }

    .methods-page {
        align-items: center;
    }

    .sad-image {
        margin-left: 15%;
    }

    .tip-image {
        margin-left: 40%;
    }

    /* METHODS CIRCLE AND STARS */

    .methods .green-circle {
        display: flex;
        position: absolute;
        right: 45%;
        margin-top: -40%;
        z-index: -5;
    }

    .methods .green-circle-2 {
        position: absolute;
        display: flex;
        right: 35%;
        margin-top: -15%;
        z-index: -5;
    }

    .methods .yellow-circle {
        position: absolute;
        display: flex;
        right: 2%;
        margin-top: -25.5%;
        z-index: -5;
    }

    .methods .green-plus {
        position: absolute;
        display: flex;
        right: 36%;
        margin-top: -28%;
        z-index: -5;
    }

    .methods .blue-circle {
        position: absolute;
        display: flex;
        right: 5%;
        margin-top: -52%;
        z-index: -5;
    }

    .methods h3 {
        margin-top: 0%;
        z-index: -5;
    }

    .lif-methods {
        width: 55%;
        margin: 5% 5%;
    }

    .lif-methods-div {
        width: 75%;
    }

    .lif-methods-title {
        height: auto;
        padding: 10% 0 0 0 !important;
    }

    .lif-methods p {
        font-size: 1.3rem;
        margin: 0 5%;
        padding: 5% 0 10% 0;
    }

    .lif-methods span {
        font-size: 2rem;
    }

    /* END OF METHODS */

    .goals {
        text-align: left;
        font-size: 1.4rem;
        width: 90%;
        margin-top: 5%;
    }

    .goals h4 {
        font-size: 2.5rem;
        line-height: 3.75rem;
        text-align: center;
        width: 70%;
    }

    .safegoal {
        margin: 0 0 0 0;
    }

    .safegoal p {
        font-size: 1.7rem;
        line-height: 3rem;
        margin: 2% 0 2% 5%;
    }

    .missiongoal {
        margin: 0 0;
    }

    .missiongoal p {
        line-height: 3rem;
        margin: 2% 0 2% 5%;
        font-size: 1.7rem;
        width: 100%;
    }

    #contact {
        font-size: 1.8rem;
        text-align: center;
        padding: 2% 10% 3% 10%;
    }

    .freelife {
        font-size: 2.5rem;
        margin: 4% 0 4% 0 !important;
    }

    .contactus {
        font-size: 1.5rem;
        padding: 0.6rem 2rem;
    }

    /* END OF GOALS */

    .change {
        margin: 3% 0;
        width: 90%;
    }

    .change-question {
        background-position-x: right;
        background-size: 35%;
        height: 125px;
        font-size: 3.7rem;
    }

    .journey {
        font-size: 1.4rem;
        margin-top: 1%;
        margin-bottom: 2%;
        width: 90%;
    }

    .journey span,
    .journey-2 span {
        font-size: 1.7rem;
    }

    .transform {
        margin: 4% 0 0 0;
        font-size: 1.3rem;
    }

    .options {
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin: 8% 3% 10% 3%;
        text-align: left;
        padding: 0 2%;
        width: 33%;
    }

    .options p {
        width: 80%;
        padding: 5% 0 3% 0;
    }

    .divide {
        border: 1px solid #B1D2B9;
        width: 100%;
        margin: 3% 0;
    }

    .blue-contact {
        margin: 15% 0;
    }

    /* END OF CHANGE */

    #footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }

    .footer-info {
        margin-left: 5%;
        flex-direction: row;
    }

    .footer-info a {
        font-size: 1.1rem;
        margin: 0 2%;
    }

    .media {
        display: flex;
        align-items: flex-end;
        font-size: 1rem;
        margin-top: 15%;
        width: 70%;
    }

    .media p {
        margin-right: 9%;
        margin-bottom: 5%;
    }

    .links {
        width: 25%;
        margin: 0 5%;
    }

    .links i {
        padding: 0 5%;
        font-size: 1rem;
        margin-bottom: 10%;
    }

}

@media only screen and (min-width: 1440px) {

    .header {
        padding-top: 0%;
    }

    .logo {
        margin: 0 3%;
    }

    .nav {
        width: 100%;
        margin-right: 4%;
    }

    .nav ul li a {
        padding: 0 0.75rem;
    }

    .logo {
        margin-right: 5%;
    }

    .qmc {
        top: 55%;
        left: 9%;
        width: 10%;
    }

    .q-sc {
        top: 80%;
        width: 6%;
    }

    .qs {
        top: 25%;
        width: 2%;
        left: 40%;
    }

    .qs2 {
        top: 43%;
        left: 19%;
        width: 2%;
    }

    .qe {
        top: 63%;
        left: 25%;
    }

    .qe2 {
        top: 75%;
        left: 35%;
    }

    .qe3 {
        top: 45%;
        right: 38%;
    }

    .qe4 {
        top: 20%;
        right: 8%;
    }

    .qbs {
        top: 35%;
        width: 3%;
        right: 14%;
    }

    .qps {
        top: 85%;
    }

    .qmsc {
        width: 6%;
        top: 60%;
        width: 9%;
        right: 23%;
    }

    .qc {
        top: 75%;
        left: 7%;
        width: 6%;
    }

    #home {
        margin-top: 8.5%;
        width: 100%;
    }

    #home figcaption {
        font-size: 1.2rem;
        line-height: 1.35rem;
    }

    #home p {
        line-height: 5.25rem;
    }

    #home p span {
        font-size: 4.1rem;
        line-height: 5.875rem;
    }

    .question {
        margin-top: 4%;
    }

    .know {
        font-size: 2rem;
        line-height: 2.5rem !important;
        margin-top: 3%;
        margin-right: 80%;
    }

    .know span {
        line-height: 1rem !important;
        font-size: 2.1rem !important;
    }

    .top {
        font-size: 4.2rem;
        font-weight: normal;
        line-height: 4rem;
    }

    .stats {
        align-items: center;
        margin: 2% 0;
        width: 95%;
    }

    .stat img {
        height: 250px;
    }

    .here-to-change {
        font-size: 2.8rem;
        margin-top: 1%;
    }

    .here-to-change span {
        font-size: 2.9rem !important;
    }

    .lifbutton {
        font-size: 1.4rem;
        margin: 1.8rem 0.8rem 2rem 0.8rem;
    }

    #lif {
        align-items: flex-start;
        margin: 5% 0 0 0;
    }

    .lif-desc {
        font-size: 2.25rem;
        width: 50%;
    }

    .lif-desc h1 {
        font-size: 9.375rem;
        line-height: 10rem;
    }

    .lif-desc span {
        font-size: 2.25rem;
    }

    .character {
        width: 55%;
    }

    .students {
        line-height: 1.5rem;
    }

    .step {
        margin: 15% 0 5% 0;
    }

    .steps h2 {
        font-size: 2.25rem;
    }

    .steps {
        font-size: 2.25rem;
    }

    .steps img {
        width: 100%;
    }

    .step-one,
    .step-two,
    .step-three {
        font-size: 1.5rem;
    }

    .list-one,
    .list-two,
    .list-three {
        font-size: 3rem;
    }

    .list-one {
        margin-right: 2%;
        margin-top: -6%;
    }

    .step-one {
        left: 10%;
        width: 20%;
    }

    .list-two {
        margin: -1.2rem 0 0 15%;
    }

    .step-two {
        left: 23%;
        width: 45%;
    }

    .list-three {
        margin: 2% 2% 0 35%;
    }

    .step-three {
        right: 8%;
        width: 43%;
    }

    .steps figure {
        width: 55%;
    }

    /* METHODS CIRCLE AND STARS */

    .methods {
        height: 85vh;
        margin-top: 5%;
    }

    .methods-img {
        width: 70%;
    }

    .methods .green-circle {
        right: 40%;
    }

    .methods .green-circle-2 {
        right: 32%;
    }

    .methods .yellow-circle {
        margin-top: -23%;
    }

    .methods .green-plus {
        right: 19%;
        margin-top: -22%;
    }

    .methods .blue-circle {
        margin-top: -48%;
    }

    .lif-methods-div {
        justify-content: center;
        margin: 0;
    }

    .lif-methods {
        margin: 5% 10%;
        width: 50%;
    }

    .lif-methods-title {
        height: auto;
    }

    .lif-methods p {
        font-size: 1.5rem;
    }

    .lif-methods span {
        font-size: 2.5rem;
    }

    .sad-image {
        margin-top: 0;
        width: 85%;
    }

    .tip-image {
        margin-left: 50%;
        margin-top: -12%;
        width: 75%;
    }

    .goals {
        height: 100vh;
        width: 95%;
    }

    .goals h4 {
        font-size: 2.6rem;
        line-height: 3.75rem;
        width: 52%;
    }

    .goals span {
        line-height: 4.216rem;
    }

    .goals img {
        margin: 0 10% 0 15%;
        width: 95;
    }

    .safegoal {
        margin: 0 0 0 0;
    }

    .safegoal figure {
        width: 15%;
    }

    .safegoal p {
        font-size: 2.25rem;
        line-height: 2.8rem;
        margin-left: 8%;
        width: 60%;
    }

    .missiongoal {
        width: 95%;
    }

    .missiongoal p {
        font-size: 2.25rem;
        margin-right: 8%;
    }

    .missiongoal img {
        margin: 0 0 0 4%;
    }

    #contact p {
        margin-top: -5%;
    }

    .change-question {
        font-size: 4.2rem;
        height: 155px;
    }

    .freelife {
        font-size: 2.25rem;
        line-height: 3rem;
        margin: 0 0 5% 0 !important;
    }

    .change {
        margin: 2% 0;
    }

    .journey {
        margin-bottom: 1%;
        font-size: 1.75rem;
        line-height: 2.1rem;
    }

    .journey span,
    .journey-2 span {
        font-size: 1.8rem;
        line-height: 2.313rem;
    }

    .journey-2 {
        margin-bottom: 2%;
    }

    .transform {
        margin: 1% 0 0 0;
    }

    .media p {
        margin-right: 12.5%;
    }

    #options-div {
        margin-top: 1%;
    }

    .options {
        margin: 5% 1% 10% 3%;
        width: 25%;
    }

    .links {
        margin: 0 7.5%;
    }
}

@keyframes mouse-down {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        transform: translateY(35px);
    }
}