@font-face {
    font-family: "Amertha";
    src: url("../fonts/Amertha_PERSONAL_USE_ONLY.ttf")
}

@font-face {
    font-family: "Cursive";
    src: url("../fonts/CedarvilleCursive-Regular.ttf");
}

@font-face {
    font-family: 'Myraid';
    src: url("../fonts/Myriad\ Pro\ Regular.ttf");
}

@font-face {
    font-family: 'Abril';
    src: url("../fonts/AbrilFatface-Regular.ttf");
}

@font-face {
    font-family: 'Lato-light';
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    overflow: scroll;
    width: 100%;
    overflow-x: hidden;
}

/* HEADER */

.header {
    background-color: #FFF;
    /* box-shadow: 0px 0px 7px #ccc; */
    font-family: 'Abril', cursive;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 2% 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 2%;
}

.nav ul>li {
    list-style-type: none;
    display: inline-block;
}

.nav ul li a {
    color: #000;
    margin: 0 5px;
    text-decoration: none;
}

.logo {
    margin-top: 5%;
}

#login {
    background: #B3CFB2;
    border: none;
    border-radius: 20px;
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
    line-height: 24px;
    padding: 3px 8px;
}

/* END OF HEADER */

#abouthome {
    background-image: url('../img/story-image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    height: 20rem;
    margin-top: 25%;
    width: 95vw;
}

#abouthome h1 {
    font-size: 2rem;
    width: 50%;
}

#abouthome p {
    font-size: 2rem;
}

#abouthome span {
    font-family: 'Amertha', sans-serif;
    font-size: 2rem;
}

.story {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    font-family: 'Lato-light', sans-serif;
}

.story span {
    color: #62A573;
    font-weight: bold;
    font-size: 1.5rem;
}

.story p {
    padding: 2% 0;
}

.founded {
    line-height: 2rem;
    width: 78%;
}

.founded span {
    color: #A180A1;
    font-size: 1.1rem;
    font-weight: bold;
}

.founded p {
    padding: 5% 0;
}

.ceo {
    background-color: #F0EEEB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    width: 95%;
    text-align: center;
    margin: 5% 0;
}

.ceo h2,
.ceo h3 {
    font-weight: 700;
}

.ceo h2 {
    color: #62A573;
    font-size: 1.4rem;
}

.ceo h3 {
    font-family: 'Myraid', sans-serif;
}

.ceo p {
    font-family: "Cursive", sans-serif;
    padding: 4% 4%;
}

.left-quote,
.rightquote {
    display: none;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team h4 {
    color: #A180A1;
    font-size: 1.8rem;
    font-weight: 700;
}

.team p {
    color: #A180A1;
    font-size: 1.4rem;
    font-weight: 700;
}

.teamimage {
    text-align: center;
}

.teamimage figure {
    height: auto;
    width: 200px;
}

.teamimage span {
    color: #000;
    font-family: 'Lato-light', sans-serif;
    font-size: 1.3rem;
}

.team p {
    padding: 2% 0;
}

.contactus {
    background-color: #FFB33D;
    border-radius: 20px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: 'Abril Fatface', cursive;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    margin: 10% 0;
    padding: 0.5rem 1.5rem;
    width: 200px;
}

#aboutfooter {
    background-image: url('../img/Footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}

#aboutfooter a:link {
    color: #000;
    text-decoration: none;
}

.footer-info {
    width: 95%;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    margin: 10% 0;
}

.footer-info a {
    margin: 2% 0;
}

.media {
    background-color: #92B48D;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    flex-direction: column;
    width: 95%;
}

.links {
    flex-direction: row;
    margin: 2% 10%;
}

.links i {
    font-size: 2rem;
}

/* TABLET SIZES */

@media only screen and (min-width: 768px) {

    .header {
        font-size: 1.5rem;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5%;
    }

    .logo {
        margin-top: 0%;
    }

    .nav {
        margin: 3% 0;
    }

    /* END OF HEADER TABLET */

    #abouthome {
        align-items: center;
        background-position: 0 0;
        background-size: cover;
        height: 100vh;
        text-align: center;
        width: 100vw;
        margin-top: 10%;
    }

    #abouthome h1 {
        font-size: 5rem;
        margin-top: 0;
        width: 100%;
    }

    #abouthome p {
        font-size: 4rem;
    }

    #abouthome span {
        font-size: 4rem;
    }

    .story {
        font-size: 1.3rem;
        width: 95%;
        margin: 5% 0;
        text-align: left;
    }

    .story p {
        padding: 1% 0;
    }

    .story span {
        font-size: 2rem;
    }

    .founded {
        width: 75%;
    }

    .founded p {
        padding: 1% 0;
    }

    .founded span {
        font-size: 1.4rem;
    }

    .story .lifedu-team {
        margin-right: 45%;
    }

    .story .impactful {
        margin-right: 25%;
    }

    .ceo {
        font-size: 1.2rem;
    }

    .ceo h2,
    .ceo h3 {
        padding: 1% 0;
    }

    .ceo h2 {
        font-size: 2rem;
        padding-left: 10%;
    }

    .ceo h3 {
        font-size: 1.1rem;
        text-align: right;
        margin-right: 2%;
    }

    .ceo p {
        font-weight: 300;
        line-height: 2rem;
        text-align: left;
        padding: 2% 4%;
    }

    .ceo figure {
        width: 40%;
    }

    .ceo .understood {
        margin-top: -7%;
    }

    .yoshitha {
        display: flex;
        justify-content: space-between;
        margin: 5% 0;
    }

    .yoshitha-quote {
        width: 45%;
    }

    .left-quote,
    .rightquote {
        display: flex;
    }

    .ceo .left-quote,
    .ceo .rightquote {
        width: 10%;
    }

    .left-quote img {
        height: 8rem;
        margin-left: -20%;
    }

    .rightquote {
        align-items: flex-end;
    }

    .rightquote img {
        height: 8rem;
        margin-left: -60%;
    }

    .school-life img {
        display: inline-block;
        height: 2rem;
    }

    .team h4 {
        font-size: 3.5rem;
    }

    .teamimage {
        display: flex;
        width: 90%;
    }

    .ramya {
        width: 24%;
    }

    .amith {
        width: 25%;
    }

    .team .join {
        font-size: 2.5rem;
    }

    .contactus {
        font-size: 1.5rem;
        margin: 0 0;
        width: 40%;
    }

    #aboutfooter {
        margin-top: 20%;
    }

    .footer-info {
        margin: 10% 0 5% 0;
    }

}

@media only screen and (min-width: 1024px) {

    .header {
        font-size: 1.1rem;
    }

    .nav {
        margin: 2% 5%;
        width: 70%;
    }

    .logo {
        margin-left: 5%;
    }

    #login {
        padding: 10% 40%;
    }

    #abouthome {
        background-position: 0 0;
        background-size: cover;
        margin-top: 8%;
        height: 100vh;
    }

    #abouthome h1 {
        font-size: 5.5rem;
    }

    #abouthome p {
        font-size: 5.5rem;
    }

    #abouthome span {
        font-size: 4.6rem;
    }

    .story {
        font-size: 1.675rem;
        line-height: 2.5rem;
        margin-top: 5%;
    }

    .story span {
        font-size: 3rem;
    }

    .story .lifedu-team {
        margin-top: 5%;
        margin-right: 40%;
    }

    .founded {
        width: 75%;
    }

    .founded span {
        font-size: 1.9rem;
    }

    .story .impactful {
        padding-top: 0;
        margin-right: 25%;
    }

    .school-life img {
        height: 3rem;
    }

    .ceo {
        font-size: 1.7rem;
    }

    .ceo h2 {
        font-size: 2.5rem;
    }

    .ceo .understood,
    .ceo .school-life {
        width: 90%;
    }

    .ceo .left-quote {
        margin-top: 4%;
    }

    .yoshitha {
        justify-content: space-around;
    }

    .yoshitha-image {
        margin-left: 5%;
    }

    .yoshitha-quote {
        width: 50%;
    }

    .school-life {
        background-position-x: 95%;
    }

    .team {
        width: 95%;
    }

    .teamimage {
        font-size: 1.5rem;
        height: 30rem;
        max-height: 35rem;
        justify-content: space-between;
        background-image: url('../img/dotted-lines.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .teamimage .down {
        margin-top: 24%;
    }

    .team-info {
        margin-top: -15%;
    }

    .teamimage figure {
        height: 15rem;
        width: 20rem;
    }

    .teamimage span {
        font-size: 1.5rem;
    }

    .teamimage img {
        height: 14rem;
    }

    .ramya {
        position: absolute;
        left: 0;
    }

    .amith {
        position: absolute;
        height: 16rem;
        left: 0;
        margin-left: 20%;
    }

    .shradha {
        position: absolute;
        left: 0;
        margin-left: 45%;
    }

    .abhinav {
        position: absolute;
        left: 0;
        margin-left: 68%;
    }

    .team .join {
        font-size: 2.8rem;
    }

    .contactus {
        width: 23%;
    }

    #aboutfooter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }

    .footer-info {
        margin-top: 15%;
        margin-left: 5%;
        flex-direction: row;
    }

    .footer-info a {
        font-size: 1.1rem;
        margin: 0 2%;
    }

    .media {
        display: flex;
        align-items: flex-end;
        font-size: 1rem;
        margin-top: 15%;
        width: 70%;
    }

    .media p {
        margin-right: 9%;
        margin-bottom: 5%;
    }

    .links {
        width: 30%;
        margin: 0 4.5%;
    }

    .links i {
        padding: 0 5%;
        font-size: 1.2rem;
        margin-bottom: 10%;
    }

}

@media only screen and (min-width: 1440px) {

    .nav ul li a {
        padding: 0 0.75rem;
    }

    #abouthome {
        background-size: 100% 105%;
        margin-top: 5%;
    }

    #abouthome h1 {
        font-size: 7rem;
    }

    #abouthome p {
        font-size: 7rem;
    }

    #abouthome span {
        font-size: 6rem;
    }

    .founded p {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .founded .hope {
        width: 85%;
    }

    .founded span {
        font-size: 2.4rem;
    }

    .story .lifedu-team {
        margin-right: 34%;
    }

    .lifedu-team span {
        font-size: 4.5rem;
    }

    .story .impactful {
        font-size: 3.3rem;
        margin-right: 0;
    }

    .ceo {
        display: block;
        margin: 2% 0;
        width: 100%;
    }

    .ceo h2 {
        font-size: 4.7rem;
    }

    .ceo h3 {
        font-size: 1.5rem;
        margin-right: 6%;
    }

    .ceo p {
        font-size: 2.2rem;
        line-height: 2.6rem;
    }

    .ceo figure {
        width: 40%;
    }

    .ceo img {
        width: 100%;
        height: 40rem;
    }

    .ceo .understood {
        margin-top: 0;
    }

    .ceo .understood,
    .ceo .school-life {
        margin-right: 0%;
        width: 90%;
    }

    .ceo .left-quote {
        margin-top: 0;
    }

    .rightquote img {
        height: 10rem;
        margin-left: -100%;
        margin-top: 100%;
    }

    .school-life img {
        height: 4.6rem !important;
        width: auto;
    }

    .ceo .left-quote {
        width: 10%;

    }

    .ceo .left-quote img {
        margin-top: 0%;
        margin-left: 55%;
        height: 20rem;
    }

    .yoshitha {
        margin: 3% 0 0 0;
    }

    .yoshitha-image {
        margin-left: 0%;
    }

    .yoshitha-quote {
        margin-right: 0;
        width: 80%;
    }

    .yoshitha-quote p {
        font-size: 2.2rem;
        width: 93%;
    }

    .ceo .school-life img {
        margin-right: auto;
    }

    .team .join {
        font-size: 3.5rem;
    }

    .teamimage {
        background-size: 90%;
        height: 35rem;
        width: 85%;
    }

    .ramya {
        margin-top: 1%;
        margin-left: 5%;
    }

    .teamimage .down {
        margin-top: 20%
    }

    .amith {
        margin-top: 23% !important;
        margin-left: 26%;
    }

    .shradha {
        margin-left: 48%;
    }

    .join {
        margin-top: 0%;
    }

    #aboutfooter {
        margin-top: 10%;
    }

    .media p {
        margin-right: 12%;
    }

}

@media screen and (min-width: 1600px) {

    .ceo h3 {
        margin-right: 24%;
    }

    .yoshitha-quote p {
        font-size: 2.35rem;
        line-height: 3rem;
    }

    .ceo .understood,
    .ceo .school-life {
        line-height: 3rem;
        font-size: 2.45rem;
    }

    .story .impactful {
        margin-right: 10%;
    }

    .team h4 {
        margin-bottom: 1%;
    }

    .teamimage {
        height: 40rem;
    }

    .teamimage img {
        height: 20rem;
    }

    .teamimage .down {
        margin-top: 16%;
    }

    .ramya,
    .shradha {
        margin-top: -4%;
    }

    .shradha {
        margin-left: 49%;
    }

    .amith {
        margin-top: 17% !important;
        margin-left: 29%;
    }

    .abhinav {
        margin-left: 73%;
    }

    .join {
        margin-top: 4%;
        margin-right: 5%;
        font-size: 4.3rem !important;
    }
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}