@font-face {
    font-family: 'Abril Fatface';
    src: url("../fonts/AbrilFatface-Regular.ttf");
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.ttf");
}


* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background: #FFF;
    display: flex;
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    justify-content: center;
    margin: 0;
    overflow: scroll;
    width: 100%;
    overflow-x: hidden;
}

/* HEADER */

.header {
    background-color: #F7F7F7;
    /* box-shadow: 0px 0px 7px #ccc; */
    color: #8FB38E;
    font-family: 'Abril Fatface', cursive;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 5%;
    margin-bottom: 2%;
}

.nav ul>li {
    list-style-type: none;
    display: inline-block;
}

.nav ul li a {
    color: #8FB38E;
    margin: 0 5px;
    text-decoration: none;
}

.logo {
    margin-top: 5%;
}

.angry {
    background-color: #F7F7F7;
    color: #8FB38E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    margin-top: 15%;
    height: 100vh;
    width: 100vw;
}

.angry img {
    height: 25vh;
    width: 75vw;
}

.yt {
    position: absolute;
    right: 0;
    margin-right: -12%;
    top: 0;
    width: 25%;
    height: 50%;
    z-index: 2;
}

.bt {
    position: absolute;
    left: 0;
    margin-left: -18%;
    top: 0;
    margin-top: -15%;
    width: 30%;
    z-index: 5;
    height: 50%;
}

.yr {
    position: absolute;
    width: 25%;
    z-index: 5;
    height: 50%;
    top: 0;
    margin-top: -65%;
}

.gc {
    position: absolute;
    width: 25%;
    z-index: 2;
    height: 35%;
    left: 0;
    margin-left: -15%;
    top: 0;
    margin-top: 50%;
}

.cube {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.cube p {
    color: #8FB38E;
    font-family: 'Abril Fatface', cursive;
    margin: 5% 0;
    text-align: center;
}

.cube span {
    font-family: 'Lato', sans-serif;
}

.cube figure {
    width: 70%;
    z-index: 2;
}

.al {
    position: absolute;
    top: 0;
    margin-top: 120%;
    left: 0;
    margin-left: -12%;
    width: 25%;
    height: 25%;
    z-index: 1;
}

.al2 {
    top: 0;
    width: 100vw;
    margin-top: 160%;
    position: absolute;
    z-index: 1;
}

.maze {
    color: #8FB38E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

.maze p {
    margin-top: 0%;
}

.questions {
    background-image: url('../img/maze-talk.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: #FFF;
    height: 15rem;
    width: 75vw;
    font-size: 0.8rem;
    margin-top: 5%;
    z-index: 2;
}

.questions p {
    margin: 25% 0 5% 10%;
}

.choices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.choices a {
    font-size: 1rem;
    padding: 0 3%;
}

.choices a:hover {
    background-image: url('../img/maze-hover.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.maze-parts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}

#m {
    position: absolute;
    width: 90%;
}

.arrow {
    margin-top: 160%;
    position: absolute;
    right: 0;
    width: 10%;
    z-index: 2;
}

.journals {
    color: #8FB38E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.journals span {
    color: #9D7EA5;
}

.entries {
    width: 95%;
}

.entries p {
    margin-top: 5%;
}

.entry {
    background-image: url('../img/journal-entry.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    height: 35vh;
    width: 100%;
}

textarea {
    background-color: transparent;
    border: none;
    height: 5.5rem;
    margin-top: 12%;
    margin-right: 8%;
    resize: none;
    width: 80%;
}

.submit {
    background-color: #99B38F;
    font-family: 'Abril Fatface', cursive;
    border-radius: 30px;
    color: #FFF;
    text-decoration: none;
    margin-bottom: 10%;
    padding: 1rem 2.5rem;
}

@media only screen and (min-width: 768px) {

    .header {
        font-size: 1.5rem;
        flex-direction: row;
        justify-content: space-around;
    }

    .logo {
        margin-top: 0;
        margin-left: 0;
    }

    .nav {
        margin: 3% 0 3% 15%;
    }

    /* END OF HEADER TABLET */

    .angry {
        flex-direction: row;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .angry p {
        font-size: 2.7rem;
        text-align: left;
        width: 25%;
    }

    .angry figcaption {
        font-size: 1.8rem;
    }

    .angry img {
        height: 35vh;
        width: 50vw;
    }

    .yt {
        margin-top: 25%;
        height: 30%;
    }

    .yr {
        margin-top: -28%;
        width: 20%;
        height: 50%;
        left: 0;
        margin-left: 25%;
    }

    .bt {
        margin-top: -3%;
        width: 25%;
    }

    .gc {
        margin-left: -10%;
        margin-top: 30%;
        width: 20%;
    }

    /* END OF ANGRY */

    .al {
        margin-top: 60%;
    }

    .al2 {
        margin-top: 70%;
    }

    .cube {
        z-index: 0;
    }

    /* END OF CUBE */

    .maze {
        font-size: 1.2rem;
        margin-top: 5%;
    }

    .questions {
        height: 12rem;
        position: absolute;
        left: 0;
        margin-left: 2%;
    }

    .questions p {
        margin: 10% 0 0 3%;
        width: 40%;
    }

    .choices {
        margin-top: 5%;
        width: 45%;
    }

    #m {
        margin-top: 25%;
        width: 50%;
    }

    .arrow {
        margin-top: 65%;
        margin-right: 20%;
    }

    /* END OF MAZE */

    .journals {
        font-size: 2rem;
    }

    .journals p {
        width: 75%;
    }

    .entries p {
        font-size: 1.4rem;
        text-align: left;
        margin-left: 5%;
        width: 100%;
    }

    .entry {
        height: 50vh;
    }

    textarea {
        font-size: 1.5rem;
        line-height: 1.6rem;
        height: 9.5rem;
        width: 55vw;
        margin-right: 7%;
        margin-top: 9.5%;
    }

    .submit {
        margin-top: 5%;
        font-size: 1rem;
        padding: 1rem 4rem;
    }
}

@media only screen and (min-width: 1024px) {

    .nav {
        margin: 2% 0;
        width: 70%;
    }

    .nav ul li a {
        padding: 0 0.6rem;
    }

    .header {
        font-size: 1.3rem;
    }

    .logo {
        margin-left: 5%;
    }

    /* END OF HEADER LAPTOP */

    .angry {
        height: 100vh;
        margin-top: 0%;
    }

    .angry img {
        height: 50vh;
        width: 50vw;
    }

    .angry figcaption {
        margin-top: 0;
    }

    .yt {
        margin-right: -8%;
        margin-top: 35%;
        width: 20%;
    }

    .yr {
        margin-top: -22%;
    }

    .bt {
        margin-top: 0%;
    }

    .gc {
        height: 20%;
        width: 15%;
        margin-left: -7%;
        margin-top: 50%;
    }

    /* END OF ANGRY */

    .cube {
        font-size: 1.2rem;
        height: 100vh;
    }

    .al {
        height: 50%;
        margin-top: 85%;
        margin-left: -10%;
    }

    .al2 {
        margin-top: 105%;
    }

    /* END OF CUBE */

    #m {
        margin-top: 20%;
    }

    .questions {
        margin-top: 0;
        height: 15rem;
    }

    .choices {
        width: 40%;
    }

    .choices a {
        background-size: contain;
        height: 2rem;
        width: 2.2rem;
    }

    .arrow {
        margin-top: 50%;
    }

    /* END OF MAZE */

    .journals {
        width: 90%;
    }

    .journals p {
        width: 65%;
    }

    .entry {
        height: 75vh;
    }

    textarea {
        font-size: 2rem;
        line-height: 2.35rem;
        height: 30vh;
        margin-top: 12%;
        width: 72%;
    }
}

@media only screen and (min-width: 1440px) {

    .header {
        font-size: 1.8rem;
    }

    .nav ul li a {
        font-size: 1.5rem;
        padding: 0 0.75rem;
    }

    .logo {
        margin-right: 5%;
    }

    /* END OF HEADER */

    .angry p {
        font-size: 5rem;
        width: 25%;
    }

    .angry figcaption {
        font-size: 3rem;
    }

    .yr {
        margin-top: -17%;
    }

    .gc {
        margin-top: 40%;
    }

    /* END OF ANGRY */

    .cube {
        margin: 0;
    }

    .cube p {
        font-size: 2rem;
        margin: 0 0;
    }

    .cube span {
        font-size: 1.5rem;
    }

    .cube figure {
        margin: 4% 0;
    }

    .al {
        margin-top: 55%;
    }

    .al2 {
        margin-top: 50%;
    }

    /* END OF CUBE */

    .maze {
        font-size: 1.7rem;
        margin-top: 0;
    }

    #m {
        margin-top: 10%;
        width: 30%;
    }

    .questions {
        height: 15rem;
        margin-left: 15%;
        margin-top: 2%;
    }

    .questions p {
        font-size: 1.4rem;
        margin: 4% 0 0 3%;
        width: 20%;
    }

    .choices {
        margin-top: 1%;
        width: 23%;
    }

    .choices a {
        font-size: 1.4rem;
    }

    .choices a {
        font-size: 1.4rem;
        padding: 5% 4%;
        height: 3.2rem;
        width: 3.5rem;
    }

    .arrow {
        margin-top: 35%;
        margin-right: 30%;
        width: 5%;
    }

    /* END OF MAZE */

    .journals {
        font-size: 2.5rem;
    }

    .journals p {
        width: 60%;
    }

    .entries p {
        font-size: 2rem;
        width: 100%;
    }

    textarea {
        line-height: 2.31rem;
        margin-right: 5%;
        margin-top: 9%;
        width: 44vw;
    }

    .submit {
        font-size: 1.6rem;
        margin: 2% 0 5% 0;
        padding: 1rem 5rem;
    }

    .choices a:hover {
        background-size: cover;
    }
}

a:link {
    color: #FFF;
    text-decoration: none;
}

a:visited {
    color: #FFF;
    text-decoration: none;
}