* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background: #FFF;
    display: flex;
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    justify-content: center;
    margin: 0;
    overflow: scroll;
    width: 100%;
    overflow-x: hidden;
}

/* HEADER */

.header {
    background-color: #F7F7F7;
    /* box-shadow: 0px 0px 7px #ccc; */
    color: #8FB38E;
    font-family: 'Abril Fatface', cursive;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 5%;
    margin-bottom: 2%;
}

.nav ul>li {
    list-style-type: none;
    display: inline-block;
}

.nav ul li a {
    color: #8FB38E;
    margin: 0 5px;
    text-decoration: none;
}

.logo {
    margin-top: 5%;
}

.stressed {
    background-color: #F7F7F7;
    background-image: url('../img/stressed-line.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #8FB38E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
    margin-top: 18%;
    height: 40vh;
    width: 100vw;
}

.stressed p {
    margin: 5% 0;
}

.stressed img {
    width: 80vw;
    height: 25vh;
}

.stressed figcaption {
    text-align: center;
    margin-bottom: 5%;
}

.part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #8FB38E;
    font-family: 'Abril Fatface', cursive;
}

.part p {
    margin: 10% 0;
}

.part img {
    height: 25vh;
    width: 65vw;
}

@media only screen and (min-width: 768px) {

    .header {
        font-size: 1.2rem;
        flex-direction: row;
        justify-content: space-around;
    }

    .logo {
        margin-top: 0;
        margin-left: 0;
    }

    .nav {
        margin: 3% 0 3% 15%;
    }

    /* END OF HEADER TABLET */

    .stressed {
        flex-direction: row;
        height: 50vh;
        margin-top: 5%;
    }

    .stressed p {
        font-size: 1.8rem;
        width: 20%;
    }

    .stressed img {
        height: 35vh;
        margin-top: 10%;
        width: 50vw;
    }

    .stressed figcaption {
        font-size: 2rem;
    }

    .part {
        font-size: 1.3rem;
    }

    .part p {
        margin: 5% 0;
    }

    .part img {
        margin: 5% 0 10% 0;
    }
}

@media only screen and (min-width: 1024px) {

    .nav {
        margin: 2% 0;
        width: 70%;
    }

    .nav ul li a {
        padding: 0 0.6rem;
    }

    .header {
        font-size: 1.3rem;
    }

    .logo {
        margin-left: 5%;
    }

    /* END OF HEADER LAPTOP */

    .stressed {
        height: 65vh;
    }

    .stressed p {
        font-size: 3.5rem;
        width: 25%;
    }

    .stressed img {
        height: 50vh;
        margin-top: 20%;
    }

    .stressed figcaption {
        margin-bottom: 10%;
    }

    /* END OF STRESSED */

    .part {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1440px) {

    .header {
        font-size: 1.8rem;
    }

    .nav ul li a {
        padding: 0 0.75rem;
    }

    .logo {
        margin-right: 5%;
    }

    /* END OF HEADER */

    .stressed {
        height: 75vh;
    }

    .stressed p {
        font-size: 4rem;
    }

    /* END OF STRESSED */

    .part p {
        font-size: 1.7rem;
    }
}