@font-face {
    font-family: 'Abril';
    src: url("../fonts/AbrilFatface-Regular.ttf");
}

@font-face {
    font-family: 'Lato-black';
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: 'Lato-bold';
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: 'Lato-light';
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: 'Cursive';
    src: url('../fonts/CedarvilleCursive-Regular.ttf');
}

@font-face {
    font-family: 'Dancing';
    src: url('../fonts/DancingScript-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    overflow: scroll;
    width: 100%;
    overflow-x: hidden;
}

/* HEADER */

.header {
    background-color: #FFF;
    /* box-shadow: 0px 0px 7px #ccc; */
    font-family: 'Abril', cursive;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 2%;
}

.nav ul>li {
    list-style-type: none;
    display: inline-block;
}

.nav ul li a {
    color: #000;
    padding: 0 1px;
    text-decoration: none;
}

.logo {
    margin-top: 5%;
}

.hi {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 277.79 307.55'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23faac45;%7d%3c/style%3e%3c/defs%3e%3cpath class='cls-1' d='M116.1,65.54A80,80,0,0,0,80.46,77,80.26,80.26,0,0,0,65.94,88.86a90.79,90.79,0,0,0-12.11,15.31,82.25,82.25,0,0,0-8.51,18,101.7,101.7,0,0,0-4.38,20,131.51,131.51,0,0,0,1.69,42.59,104.47,104.47,0,0,0,6.13,19.67,84.21,84.21,0,0,0,9.69,17,66.72,66.72,0,0,0,13,13.22,68,68,0,0,0,15.89,9,81.23,81.23,0,0,0,17.63,4.9,113.15,113.15,0,0,0,18.82,1.46,129.46,129.46,0,0,0,18.74-1.48A171.16,171.16,0,0,0,161,244.65a148.18,148.18,0,0,0,17.68-5.86,121.42,121.42,0,0,0,16.9-8.32,102.08,102.08,0,0,0,14.9-10.83,77.42,77.42,0,0,0,12.59-13.9,70.12,70.12,0,0,0,5-8.45A72,72,0,0,0,232,188a67.54,67.54,0,0,0,3.44-20.22,77,77,0,0,0-.55-10.3A87.93,87.93,0,0,0,233,147.15,106.07,106.07,0,0,0,226.22,128a116.82,116.82,0,0,0-9.74-17.08,99,99,0,0,0-12.17-14.68,88,88,0,0,0-14.86-11.91,86.05,86.05,0,0,0-16.83-8.19,84.19,84.19,0,0,0-13-3.57c-.93-.38-1.86-.75-2.79-1.1a20.88,20.88,0,0,0-3.74-1.83,25.19,25.19,0,0,0-4.54-1.22c-.89-.16-1.78-.28-2.67-.35a104.92,104.92,0,0,0-11.09-2,90.72,90.72,0,0,0-11.63-.76q-3.53,0-7.05.29Zm7,5.19c1.59,0,3.19.06,4.78.16a85.52,85.52,0,0,0-9.52,3.7l-7.69,3.55c-1.65.76-3.23,1.7-4.83,2.59-2.29,1.27-4.6,2.49-6.83,3.87A140,140,0,0,0,69.88,109,112,112,0,0,0,58,124.42a91.83,91.83,0,0,0-8.71,17.7,94.29,94.29,0,0,0-5,20.59A129.09,129.09,0,0,1,45,143.65a101,101,0,0,1,5.06-22,82.3,82.3,0,0,1,8.49-16.52A89.36,89.36,0,0,1,73.09,88.65a77.1,77.1,0,0,1,7.47-5.73,70.91,70.91,0,0,1,8.5-4.84,79.26,79.26,0,0,1,21.36-6.45,87.09,87.09,0,0,1,12.7-.9Zm9.57,1.76q1.49-.43,3-.78l.5.07.87.14-1.54.23c-1.54.25-3.07.54-4.6.87l1.77-.53Zm13.54,4.16a63.86,63.86,0,0,1,10.14.78l.66.1q3.1,1.26,6.14,2.7a104.08,104.08,0,0,1,41.49,35.66,102,102,0,0,1,10.67,20.47,92.74,92.74,0,0,1,4.78,20.15A76.38,76.38,0,0,1,207.56,208a75.36,75.36,0,0,1-12.17,13.75l.06-.05a85.62,85.62,0,0,1-18.57,12.11,108,108,0,0,1-29.69,9,119.4,119.4,0,0,1-18.2,1.43,123.49,123.49,0,0,1-17.9-1.39A91.84,91.84,0,0,1,86,235.36l0,0c-1.91-2.05-3.78-4.15-5.66-6.23-1.19-1.31-2.34-2.64-3.45-4s-2.14-2.88-3.16-4.37l.1.14-.13-.18-.18-.26.12.17a85.43,85.43,0,0,1-4.41-7.4,71.78,71.78,0,0,1-3.47-7.86c-1.57-4.3-3-8.68-4.12-13.14a111.7,111.7,0,0,1-2.68-14.24,93.75,93.75,0,0,1,0-20.44,101.8,101.8,0,0,1,5.38-22.2,94.35,94.35,0,0,1,9.91-19.47,82.24,82.24,0,0,1,6.27-8,91.07,91.07,0,0,1,7.23-7.21A89.31,89.31,0,0,1,98.51,92.5a120,120,0,0,1,12-6.69,95.46,95.46,0,0,1,26-8.4,73.44,73.44,0,0,1,9.71-.76Zm-9.76.77-.32,0,.32,0Zm26.86,2.89.21.1-.21-.1Zm45.24,133.35a80.41,80.41,0,0,0,9.87-16.93,81.43,81.43,0,0,0,5.69-19.61,79.91,79.91,0,0,0,.54-21.18,93.73,93.73,0,0,0-4.47-20.41,98.47,98.47,0,0,0-8.58-18.24,110.42,110.42,0,0,0-11.56-15.93,108.74,108.74,0,0,0-13.14-12.64A85.3,85.3,0,0,1,198,96.85a98.69,98.69,0,0,1,15.9,18.2A114,114,0,0,1,226,138.55a91.08,91.08,0,0,1,4.9,19.95,80.36,80.36,0,0,1,.51,8.06,61.62,61.62,0,0,1-1.72,15.32,64.29,64.29,0,0,1-2.13,7,67.41,67.41,0,0,1-7.09,13.81,74.8,74.8,0,0,1-12,13.46q-3.47,3-7.15,5.68a78,78,0,0,0,7.25-8.21ZM72.94,88.78,72.7,89l.24-.21ZM187,95.89l.32.28-.32-.28Zm-128.15,8.8-.17.25.17-.25ZM69,115.53a96.82,96.82,0,0,0-6.39,12.21,103.39,103.39,0,0,0-6.34,19.6,96.66,96.66,0,0,0-2.18,21.08,101.31,101.31,0,0,0,2.51,21,122.88,122.88,0,0,0,4.12,14.2c.81,2.33,1.68,4.64,2.64,6.9a61.86,61.86,0,0,0,3.35,6.66c1.2,2.08,2.51,4.06,3.86,6a57.43,57.43,0,0,0,4.19,5.42c-1.73-1.27-3.4-2.62-5-4a72.65,72.65,0,0,1-11.45-13,64,64,0,0,1-6.61-12.79,71.46,71.46,0,0,1-2.17-7.22A67.35,67.35,0,0,1,48.16,184a92.05,92.05,0,0,1,.05-20.59,95.49,95.49,0,0,1,5.1-21.2,91.56,91.56,0,0,1,9.7-18.8c1.88-2.74,3.88-5.37,6-7.91Zm5.18.44-.21.31.21-.31ZM215.34,136.4l.19.49c-.07-.16-.13-.33-.19-.49ZM45,143.77c0,.15,0,.3-.05.45,0-.15,0-.3.05-.45Zm175.16,13.06,0,.23,0-.23Zm10.79,1.94s0,.11,0,.16,0-.11,0-.16ZM48.27,162.89c0,.12,0,.23,0,.35,0-.12,0-.23,0-.35ZM231.05,174.2c0,.12,0,.25,0,.37,0-.12,0-.25,0-.37ZM58.94,178l0,.28c0-.1,0-.19,0-.28Zm-10.78,6.07c0,.11,0,.22,0,.33,0-.11,0-.22,0-.33Zm17.39,20.73c0,.1.07.19.1.28,0-.09-.07-.18-.1-.28Zm142.22,2.9-.19.27.19-.27Zm-138,16.9.24.21-.24-.21Zm40.91,18.19.17,0-.17,0Zm36.47,0h0ZM73.67,220.66l0,0-.09-.13.06.09Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
}

.today {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 146 46'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23ffbf64;%7d%3c/style%3e%3c/defs%3e%3cpath class='cls-1' d='M12,21.69c4.88-1.65,9.84-3.06,14.84-4.3s10.08-2.21,15.17-3a225.47,225.47,0,0,1,30.81-2.72q7.74-.11,15.47.26c5.15.28,10.3.69,15.41,1.33s10.22,1.43,15.28,2.43,10.07,2.22,15,3.63q-7.49-1.92-15.1-3.24c-5.06-.91-10.16-1.64-15.27-2.19s-10.24-1-15.38-1.2S78,12.36,72.83,12.46s-10.28.32-15.4.75S47.2,14.24,42.11,15,32,16.66,26.94,17.78,16.92,20.17,12,21.69Z'/%3e%3cpath class='cls-1' d='M12,23.5c4.88-1.65,9.84-3.07,14.84-4.3S36.92,17,42,16.16a225.47,225.47,0,0,1,30.81-2.72q7.74-.11,15.47.26c5.15.28,10.3.69,15.41,1.33s10.22,1.43,15.28,2.42,10.07,2.23,15,3.64q-7.49-1.92-15.1-3.24c-5.06-.91-10.16-1.64-15.27-2.19s-10.24-1-15.38-1.2-10.28-.29-15.42-.2-10.28.32-15.4.76-10.23,1-15.32,1.77S32,18.47,26.94,19.59,16.92,22,12,23.5Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 100%;
    background-position-y: 180%;
}

.green {
    color: #9BB78D !important;
}

.purple {
    color: #9E7EB2 !important;
}

/* END OF HEADER */

.emotions {
    font-family: 'Dancing', cursive;
    margin-top: 35%;
    text-align: center;
}

.emotions h1 {
    font-family: inherit;
    font-size: 2rem;
}

.angry,
.stressed,
.confused,
.sad,
.lif {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 2rem;
    height: 45vh;
    margin: 10% 0;
}

.confused svg,
.angry svg,
.stressed svg,
.lif svg,
.sad svg {
    margin-top: 2%;
}

.angry {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 293 328'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:none;stroke:%23cae5dd;stroke-miterlimit:10;stroke-width:2px;%7d%3c/style%3e%3c/defs%3e%3cpath class='cls-1' d='M92.06,252.44c-40.59-20.85-56.44-99.93-18.44-150.63C105.87,58.8,164,53.39,201,71.29c8.76,4.24,26.93,13,35.36,33.37,18.89,45.58-.45,127.23-55.86,151.68C170.41,260.79,117.67,265.61,92.06,252.44Z'/%3e%3cpath class='cls-1' d='M197.6,77.16c43,21.31,65.07,94.71,30.06,139.19C198,254.09,139,255.93,99.9,237.52c-9.26-4.36-28.46-13.4-38.58-32.51C38.64,162.18,52.29,88.3,107,68.84,117,65.3,170.47,63.71,197.6,77.16Z'/%3e%3cpath class='cls-1' d='M172.84,265.26c-43.45,13.95-110.57-30.75-119.55-93.48C45.67,118.57,83,73.63,121.79,60.13c9.2-3.2,28.26-9.83,48.6-1.41C216,77.59,260,149,238.14,205.47,234.15,215.76,200.26,256.45,172.84,265.26Z'/%3e%3cpath class='cls-1' d='M123.53,66.68c45.47-15.33,113,21,119.68,77.17,5.68,47.69-34.7,90.68-75.37,105.31-9.64,3.47-29.6,10.65-50.28,4.29-46.32-14.24-88.9-76.14-64-128.6C58.15,115.28,94.83,76.35,123.53,66.68Z'/%3e%3cpath class='cls-1' d='M172.84,265.26c-43.45,13.95-110.57-30.75-119.55-93.48C45.67,118.57,83,73.63,121.79,60.13c9.2-3.2,28.26-9.83,48.6-1.41C216,77.59,260,149,238.14,205.47,234.15,215.76,200.26,256.45,172.84,265.26Z'/%3e%3cpath class='cls-1' d='M123.53,66.68c45.47-15.33,113,21,119.68,77.17,5.68,47.69-34.7,90.68-75.37,105.31-9.64,3.47-29.6,10.65-50.28,4.29-46.32-14.24-88.9-76.14-64-128.6C58.15,115.28,94.83,76.35,123.53,66.68Z'/%3e%3c/svg%3e");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
}

.angry svg {
    height: 50%;
    margin-right: 5%;
}

.angry p {
    margin-bottom: 5%;
}

.stressed {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 296 301'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:none;stroke:%23ffbf64;stroke-miterlimit:10;%7d%3c/style%3e%3c/defs%3e%3cpath class='cls-1' d='M91.06,232.44C50.47,211.59,34.62,132.51,72.62,81.81,104.87,38.8,163,33.39,200,51.29c8.76,4.24,26.93,13,35.36,33.37,18.89,45.58-.45,127.23-55.86,151.68C169.41,240.79,116.67,245.61,91.06,232.44Z'/%3e%3cpath class='cls-1' d='M196.6,57.16c43,21.31,65.07,94.71,30.06,139.19C197,234.09,138,235.93,98.9,217.52c-9.26-4.36-28.46-13.4-38.58-32.51C37.64,142.18,51.29,68.3,106,48.84,116,45.3,169.47,43.71,196.6,57.16Z'/%3e%3cpath class='cls-1' d='M171.84,245.26c-43.45,13.95-110.57-30.75-119.55-93.48C44.67,98.57,82,53.63,120.79,40.13c9.2-3.2,28.26-9.83,48.6-1.41C215,57.59,259,129,237.14,185.47,233.15,195.76,199.26,236.45,171.84,245.26Z'/%3e%3cpath class='cls-1' d='M122.53,46.68c45.47-15.33,113,21,119.68,77.17,5.68,47.69-34.7,90.68-75.37,105.31-9.64,3.47-29.6,10.65-50.28,4.29-46.32-14.24-88.9-76.14-64-128.6C57.15,95.28,93.83,56.35,122.53,46.68Z'/%3e%3cpath class='cls-1' d='M171.84,245.26c-43.45,13.95-110.57-30.75-119.55-93.48C44.67,98.57,82,53.63,120.79,40.13c9.2-3.2,28.26-9.83,48.6-1.41C215,57.59,259,129,237.14,185.47,233.15,195.76,199.26,236.45,171.84,245.26Z'/%3e%3cpath class='cls-1' d='M122.53,46.68c45.47-15.33,113,21,119.68,77.17,5.68,47.69-34.7,90.68-75.37,105.31-9.64,3.47-29.6,10.65-50.28,4.29-46.32-14.24-88.9-76.14-64-128.6C57.15,95.28,93.83,56.35,122.53,46.68Z'/%3e%3c/svg%3e");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
}

.stressed svg {
    height: 40%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.confused {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 296 301'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:none;stroke:%23ffbf64;stroke-miterlimit:10;%7d%3c/style%3e%3c/defs%3e%3cpath class='cls-1' d='M91.06,232.44C50.47,211.59,34.62,132.51,72.62,81.81,104.87,38.8,163,33.39,200,51.29c8.76,4.24,26.93,13,35.36,33.37,18.89,45.58-.45,127.23-55.86,151.68C169.41,240.79,116.67,245.61,91.06,232.44Z'/%3e%3cpath class='cls-1' d='M196.6,57.16c43,21.31,65.07,94.71,30.06,139.19C197,234.09,138,235.93,98.9,217.52c-9.26-4.36-28.46-13.4-38.58-32.51C37.64,142.18,51.29,68.3,106,48.84,116,45.3,169.47,43.71,196.6,57.16Z'/%3e%3cpath class='cls-1' d='M171.84,245.26c-43.45,13.95-110.57-30.75-119.55-93.48C44.67,98.57,82,53.63,120.79,40.13c9.2-3.2,28.26-9.83,48.6-1.41C215,57.59,259,129,237.14,185.47,233.15,195.76,199.26,236.45,171.84,245.26Z'/%3e%3cpath class='cls-1' d='M122.53,46.68c45.47-15.33,113,21,119.68,77.17,5.68,47.69-34.7,90.68-75.37,105.31-9.64,3.47-29.6,10.65-50.28,4.29-46.32-14.24-88.9-76.14-64-128.6C57.15,95.28,93.83,56.35,122.53,46.68Z'/%3e%3cpath class='cls-1' d='M171.84,245.26c-43.45,13.95-110.57-30.75-119.55-93.48C44.67,98.57,82,53.63,120.79,40.13c9.2-3.2,28.26-9.83,48.6-1.41C215,57.59,259,129,237.14,185.47,233.15,195.76,199.26,236.45,171.84,245.26Z'/%3e%3cpath class='cls-1' d='M122.53,46.68c45.47-15.33,113,21,119.68,77.17,5.68,47.69-34.7,90.68-75.37,105.31-9.64,3.47-29.6,10.65-50.28,4.29-46.32-14.24-88.9-76.14-64-128.6C57.15,95.28,93.83,56.35,122.53,46.68Z'/%3e%3c/svg%3e");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
}

.confused svg {
    height: 50%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.sad {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 293 328'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:none;stroke:%23cae5dd;stroke-miterlimit:10;stroke-width:2px;%7d%3c/style%3e%3c/defs%3e%3cpath class='cls-1' d='M92.06,252.44c-40.59-20.85-56.44-99.93-18.44-150.63C105.87,58.8,164,53.39,201,71.29c8.76,4.24,26.93,13,35.36,33.37,18.89,45.58-.45,127.23-55.86,151.68C170.41,260.79,117.67,265.61,92.06,252.44Z'/%3e%3cpath class='cls-1' d='M197.6,77.16c43,21.31,65.07,94.71,30.06,139.19C198,254.09,139,255.93,99.9,237.52c-9.26-4.36-28.46-13.4-38.58-32.51C38.64,162.18,52.29,88.3,107,68.84,117,65.3,170.47,63.71,197.6,77.16Z'/%3e%3cpath class='cls-1' d='M172.84,265.26c-43.45,13.95-110.57-30.75-119.55-93.48C45.67,118.57,83,73.63,121.79,60.13c9.2-3.2,28.26-9.83,48.6-1.41C216,77.59,260,149,238.14,205.47,234.15,215.76,200.26,256.45,172.84,265.26Z'/%3e%3cpath class='cls-1' d='M123.53,66.68c45.47-15.33,113,21,119.68,77.17,5.68,47.69-34.7,90.68-75.37,105.31-9.64,3.47-29.6,10.65-50.28,4.29-46.32-14.24-88.9-76.14-64-128.6C58.15,115.28,94.83,76.35,123.53,66.68Z'/%3e%3cpath class='cls-1' d='M172.84,265.26c-43.45,13.95-110.57-30.75-119.55-93.48C45.67,118.57,83,73.63,121.79,60.13c9.2-3.2,28.26-9.83,48.6-1.41C216,77.59,260,149,238.14,205.47,234.15,215.76,200.26,256.45,172.84,265.26Z'/%3e%3cpath class='cls-1' d='M123.53,66.68c45.47-15.33,113,21,119.68,77.17,5.68,47.69-34.7,90.68-75.37,105.31-9.64,3.47-29.6,10.65-50.28,4.29-46.32-14.24-88.9-76.14-64-128.6C58.15,115.28,94.83,76.35,123.53,66.68Z'/%3e%3c/svg%3e");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
}

.sad svg {
    height: 70%;
    width: 90%;
}

.lif {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 369 355'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:none;stroke:%23a5add1;stroke-miterlimit:10;stroke-width:5.17px;%7d.cls-2%7bfill:%23a5add1;%7d%3c/style%3e%3c/defs%3e%3cpath class='cls-1' d='M117.15,274.37c-47.53-28.57-61.78-127.09-13-186.83C145.5,36.85,215.72,34.31,259.12,59c10.28,5.85,31.58,18,40.48,43.61,19.94,57.47-8.27,156.66-76.36,182.84C210.83,290.2,147.15,292.39,117.15,274.37Z'/%3e%3cpath class='cls-1' d='M184.13,288.83C121.24,291.92,49,221.94,60.65,148.59c9.9-62.24,76.25-102.05,132.83-106,13.4-.93,41.18-2.86,65,12.56,53.38,34.57,85,127.94,34.73,185.24C284.05,250.87,223.81,286.89,184.13,288.83Z'/%3e%3cpath class='cls-2' d='M65.92,180.66C51,121.83,103.35,40.15,174.88,37.09c60.68-2.6,111,52.45,125.44,105.16,3.43,12.49,10.55,38.36.52,63.83-22.48,57.07-104.67,104.85-168.39,68.36C120.83,267.78,75.32,217.78,65.92,180.66Z'/%3e%3c/svg%3e");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
}

.lif svg {
    margin-right: 5%;
    height: 55%;
}

@media only screen and (min-width: 768px) {

    .header {
        font-size: 1.5rem;
        flex-direction: row;
        justify-content: space-around;
    }

    .logo {
        margin-top: 0;
        margin-left: 0;
    }

    .nav {
        font-size: 1.2rem;
        margin-top: 1%;
        padding: 3% 0;
    }

    .nav {
        width: 60%;
    }

    .nav ul li a {
        padding: 0 10px;
    }

    /* END OF HEADER TABLET */

    .angry,
    .stressed,
    .confused,
    .sad,
    .lif {
        right: 0;
        position: absolute;
        font-size: 1.5rem;
        width: 50vw;
    }

    .emotions {
        margin-top: 15%;
        width: 100vw;
    }

    .emotions h1 {
        margin-top: 30%;
        height: 5rem;
        position: absolute;
        left: 0;
        margin-left: 5%;
        width: 40%;
    }

    .today {
        background-position-y: 220%;
    }

    .angry {
        background-size: 90%;
        height: 40%;
        top: 0;
        right: 0;
        margin-right: 28%;
        margin-top: 2%;
        z-index: 2;
    }

    .angry svg {
        height: 30%;
    }

    .stressed {
        height: 40%;
        top: 0;
        margin-top: 5%;
        margin-right: -10%;
        width: 50vw;
        z-index: 2;
    }

    .stressed svg {
        height: 30%;
        margin-right: 15%;
    }

    .lif {
        margin-right: -5%;
        width: 75vw;
    }

    .lif svg {
        height: 45%;
    }

    .confused {
        background-size: 100%;
        height: 35vh;
        margin-top: 45%;
        margin-right: 27%;
    }

    .confused svg {
        height: 40%;
    }

    .sad {
        background-size: 70%;
        height: 20vh;
        margin-top: 50%;
        margin-right: -10%;
    }

    .sad svg {
        height: 70%;
    }
}

@media only screen and (min-width: 1024px) {

    .header {
        height: 10%;
    }

    .nav {
        font-size: 1.5rem;
        padding: 2% 5%;
        width: 70%;
    }

    .logo {
        margin-left: 5%;
    }

    .emotions {
        height: 100vh;
        margin-top: -4%;
        overflow: hidden;
    }

    .emotions h1 {
        font-size: 4rem;
        margin-top: 26%;
    }

    .angry,
    .lif,
    .sad,
    .confused,
    .stressed {
        font-family: 'Cursive', sans-serif;
        font-size: 2.2rem;
    }

    .angry {
        background-size: 50%;
        font-size: 2.5rem;
        height: 40vh;
        margin-top: 5%;
        margin-right: 23%;
    }

    .angry svg {
        height: 40%;
        margin-right: 2%;
    }

    .angry p {
        margin-bottom: 0;
    }

    .confused {
        background-size: 50%;
        font-size: 2rem;
        height: 42vh;
        margin-top: 30%;
        margin-right: 25%;
    }

    .confused svg {
        height: 35%;
        margin-right: 2%;
    }

    .confused p {
        margin-top: 5%;
    }

    .lif {
        background-size: 85%;
        color: #fff;
        height: 60vh;
        font-size: 4rem;
        margin-top: 15%;
        margin-right: 10%;
        width: 45vw;
    }

    .lif svg {
        height: 45%;
    }

    .stressed {
        background-size: 55%;
        height: 40vh;
        font-size: 2rem;
        margin-top: 6%;
        margin-right: -6%;
        width: 45vw;
    }

    .stressed svg {
        height: 40%;
        margin-right: 10%;
    }

    .sad {
        height: 35vh;
        font-size: 2rem;
        width: 30vw;
        margin-top: 30%;
        margin-right: 1%;
    }

    .sad svg {
        height: 45%;
    }

    .hi {
        background-size: 120%;
    }

    .today {
        background-position-y: 180%;
    }

}

@media only screen and (min-width: 1440px) {

    .nav ul li a {
        padding: 0 0.75rem;
    }

    .logo {
        margin-right: 5%;
    }
}